/* --------------------------------- */
/* --------------------------------- */
/* Estilos globales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* --------------------------------- */
/* --------------------------------- */
/* Query para dispositivos moviles */
@media (max-width: 420px) {
  /* Mobile pequeño */
  .register_wrapper,
  .login_wrapper,
  .resetPassword_wrapper,
  .newPassword_wrapper
  {
    padding-inline: 1rem;
  }
}
/* --------------------------------- */
/* --------------------------------- */